// Цвета макета
$blue:#2737A7;
$rose:#FF2535;
$trst-rose:#ff25343a;
$pale-rose:#FF6A75;

// ЧАСТО ИСПОЛЬЗУЕМЫЕ СТИЛИ

*{
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color:inherit;
}

.text_highligted-bold{
    font-weight: 900;;
}

.btn{
    display: inline-flex;
    // width:320px;
    justify-content: center;
    align-items: center;
    padding: 24px 67px 22px;
    background-color: $rose;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 133%;
    border-radius: 60px;
    transition: background-color 0.3s;

    &:hover{
        background-color: $pale-rose;
    }

    &__arrow{
        margin-left: 10px;
    }
}

.link{
    border-bottom:1px solid $pale-rose;
    color:$rose;
    font-weight: bold;
    font-size: 16px;
    line-height: 225%;
    letter-spacing: 0.02em;
    transition: color 0.3s;

    &:hover{
        color:$pale-rose;
    }
}

%title{
        font-family: 'Montserrat', sans-serif;
        line-height: 122%;
        letter-spacing: 0.02em;
        font-weight: bold;
        font-size: 50px;
        letter-spacing: 0.02em;
        
}
.section-title{
    @extend %title;
    color: #202020;

    &_white{
        @extend %title;
        color:#fff;
    }
}

// РАЗДЕЛЫ

.header{
    position: absolute;
    top: 84px;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 3;

    &__body{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.nav{
    margin-left: -4%;
    margin-top: -4px;

    &-list{
        list-style: none;
        display: flex;
        justify-content: flex-start;

        &__item{
            color:#fff;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 14px;
            line-height: 121%;
            letter-spacing: 0.02em;
            margin-right: 50px;
            padding-bottom: 12px;

            &:last-child{
                margin-right: 0;
            }

            &.active{
                border-bottom:1px solid $rose;
            }
        }
    }
}

.contacts{
    &__phone{
        color:#fff;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.02em;

        .icon-phone{
            color:$rose;
        }
    }

    &__callback{
        color:$rose;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 167%;
        letter-spacing: 0.02em;
        padding-left:35px;
    }
}

.first-screen{
    // max-height: 855px;
    position: relative;
    padding-top: 215px;
    background-color: $blue;
    height: 850px;
    background-position: left -5px top 66%, right 126px top 74%;
    background-position: left -5px top 66%, right calc(7%) top;
    background-repeat: no-repeat;

    &__body{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &::after{
        content:"";
        background: $blue;
        background: #2737A7;
        width: 196%;
        height: 200px;
        position: absolute;
        top: calc(100% - 150px);
        left: -50%;
        /* transform: translateX(0%); */
        border-radius: 79%/73%;
        z-index: -1;
    }

    &__text-block{     
        width: 46%;
    }


    &__img-block{  
        width: 54%;
    }

    &__img{
        max-width: 40%;
        position: absolute;
        bottom: -81px;
        margin-left: 20px;
        z-index: 2;
    }

    &__title{
        font-family: 'Montserrat', sans-serif;
        color:#fff;
        font-weight: normal;
        font-size: 36px;//!!!!!!!!
        line-height: 139%;
        letter-spacing: 0.02em;
        
        .text_highligted-bold{
            background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0) 70%, $rose 70%, $rose 93%, rgba(0, 0, 0, 0) 93% rgba(0, 0, 0, 0) 100%);
        }
    }

    &__benefits{
        font-family: 'Montserrat', sans-serif;
        color:#fff
    }

    .btn{
        margin-left: 10px;

        .icon-arrow{

        }
    } 
}

.benefits-list{
    padding: 8px 95px 15px 30px;
    list-style-image: url('../img/tick.svg');

    &__item{
        margin-bottom: 15px;
        padding-left: 10px;
        list-style-position: inside;
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        line-height: 153%;
        list-style-image: url('../img/tick.svg');

        &::marker{
            margin-right: 10px;
        }

        div{
            display: block;
            margin-left: 34px;
            margin-top: -25px;
        }
    }
}

.wrapper{
    width: 100%;
    background: linear-gradient(180deg, #FFFFFF 4.96%, rgba(255, 255, 255, 0) 92.32%), #EAF0FA;
    box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.1);
}

.exp{
    padding-top: 190px;
    padding-bottom: 121px;

    &__desc{
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 18px;
        line-height: 178%;
        letter-spacing: 0.02em;
        color: #202020;
        padding-bottom: 46px;
        margin-top: -10px;
    }

    &-list{
        list-style-type: none;
        border-left:1px solid #E8E8E8;
        margin-left: 20px;
        margin-top: 45px;

        &__item{
            position: relative;
            display: flex;
            align-items: flex-start;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            font-size: 22px;
            line-height: 164%;
            letter-spacing: 0.02em;
            color: #202020;
            margin-bottom: 79px;
            margin-left: 54px;
        }

        &__desc{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 115px;
        }

        span{
            margin-bottom: 10px;
        }

        &__icon{
            position: absolute;
            top:-10px;
        }
    }    
}

.profit{
    padding-top:21px;
    padding-bottom: 83px;

    &-cards{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        justify-content: space-between;
    }

    &-card{
        flex-basis:49%;
        flex-grow: 0;
        background: #FFFFFF;
        box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.05);
        border-radius: 30px;
        position: relative;
        padding-top: 43px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 48px;
        margin-bottom: 73px;

        &:last-child{
            flex-basis: 100%;
        }

        &__icon{
            position: absolute;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: $blue;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateY(-50%);
            left:50px;
            top: 0;
        }

        &__text{
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 162%;
            letter-spacing: 0.02em;
            color: #202020;
            width: 98%;
        }

        &__number{
            position: absolute;
            right: 40px;
            bottom: -3px;
            opacity: 0.3;
        }
    }
}

.questions{

    &__body{
        position: relative;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        background-color: $blue;
        background-image: url('../img/container-left.svg'), url('../img/container-right.svg');
        background-position: top 63px left 0%, top 0px right 0%;
        background-repeat: no-repeat;
        padding: 85px 34% 118px;


        &::before{
            content:"";
            padding-bottom: 35%;
            position: absolute;
        } 
    }

    &__text{
        margin-top: -20px;
        margin-bottom: 44px;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        line-height: 125%;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }

    &__cont{
        position:absolute;
        bottom:-26px;

        &_left{
            left: -7px;
        }
        &_right{
            right: -25px;
        }
    }

}

.map{
    position:relative;
    z-index: 2;
    top: -43px;

}

.contacts-block{
    position: absolute;
    top: 270px;
    left: 246px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 364px;
    width: 340px;
    background: #FFFFFF;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 20px 50px 52px;

    &__item{
        display: flex;
        justify-content: flex-start;
        width:100%; 
        
        padding-top: 22px;
        padding-bottom: 24px;
        border-bottom: 1px solid #E8E8E8;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #202020;

        &:last-child{
            border: none;
        }

        .icon-pin, .icon-phone, .icon-mail{
            color:$rose;
            font-size: inherit;
        }
    }

    &__value{
        margin-left: 8px;
    }

    &__btn{
        font-size: 14px;
        line-height: 143%;
        padding: 12px 57px;
    }
}

.footer{
    background-color: #fff;
    &__body{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 129%;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #202020;
    }

    &__text{
        margin-left: 80px;
    }

    &__dev{
        display: flex;
        align-items: center;

        img{
            margin-left: 8px;
        }
    }
}