@import "_mixins.scss";

// Цвета макета
$blue:#2737A7;
$rose:#FF2535;
$trst-rose:#ff25343a;
$pale-rose:#FF6A75;

// ЧАСТО ИСПОЛЬЗУЕМЫЕ СТИЛИ

*{
    box-sizing: border-box;
}

body{
    position: relative;
}

.body_blocked{
    overflow: hidden;
}

a{
    text-decoration: none;
    color:inherit;
}

.overlay{
    display: none;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.507);
    z-index:49;
}

.text_highligted-bold{
    font-weight: 900;;
}

.text_align-center{
    text-align: center
}

.logo{
    @include adaptive-value('width', 240, 150, 3);

    img{
        width: 100%;
    }
}

.btn{
    border: none;
    outline: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 24px 64px 22px;
    background-color: $rose;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    // font-size: 18px;
    @include adaptive-value('font-size', 18, 11, 3);
    line-height: 133%;
    border-radius: 60px;
    transition: background-color 0.3s;

    &:hover, &:active{
        background-color: $pale-rose;
        cursor: pointer;
    }

    &__arrow{
        margin-left: 10px;
    }
}

.link{
    border-bottom:1px solid $pale-rose;
    color:$rose;
    font-weight: bold;
    // font-size: 16px;
    @include adaptive-value('font-size', 16, 11, 3);
    line-height: 225%;
    letter-spacing: 0.02em;
    transition: color 0.3s;

    &:hover{
        color:$pale-rose;
    }
}

%title{
        font-family: 'Montserrat', sans-serif;
        line-height: 122%;
        letter-spacing: 0.02em;
        font-weight: bold;
        // font-size: 50px;
        @include adaptive-value('font-size', 50, 26, 3);
        letter-spacing: 0.02em;
        // text-align: center'
        
}
.section-title{
    @extend %title;
    color: #202020;

    &_white{
        @extend %title;
        color:#fff;
    }
}

// РАЗДЕЛЫ и БЛОКИ

.header{
    position: absolute;
    // top: 84px;
    // @include adaptive-value('top', 67, 20, 3);
    top:67px;
    padding-top: 17px;
    padding-bottom: 18px;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 11;
    background-color: $blue;

    &__body{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

   &::before{
       width: 100%;
       content: "";
       height:67px;
       position:absolute;
       left:0;
       bottom:100%;
       background-color: $blue;
   }
}

.nav{
    margin-left: -6%;
    margin-top: -4px;

    &-list{
        list-style: none;
        display: flex;
        justify-content: flex-start;

        &__item{
            color:#fff;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            // font-size: 14px;
            @include adaptive-value('font-size', 14, 11, 3);
            line-height: 121%;
            letter-spacing: 0.02em;
            // margin-right: 50px;
            @include adaptive-value('margin-right', 50, 10, 3);
            padding-bottom: 12px;
            transition: all 0.3s;
            border-bottom:1px solid rgba(255, 255, 255, 0);

            &:last-child{
                margin-right: 0;
            }

            &:hover{
                color: #919BE3;
            }

            &.active{
                border-bottom:1px solid $rose;
            }
        }
    }
}

.mobile-nav{
    display:none;
}

.contacts{
    &__phone{
        color:#fff;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        // font-size: 20px;
        @include adaptive-value('font-size', 20, 12, 3);
        line-height: 130%;
        letter-spacing: 0.02em;

        .icon-phone{
            color:$rose;
        }
    }

    &__callback{
        color:$rose;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        // font-size: 12px;
        @include adaptive-value('font-size', 12, 10, 3);
        line-height: 167%;
        letter-spacing: 0.02em;
        padding-left:35px;

        .link{
            @include adaptive-value('font-size', 13, 11, 3);
        }
    }
}

.mobile-toggle{
    // width:25px;
    // height:20px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // cursor: pointer;
    display: none;

    // span{
    //     width:100%;
    //     height:2px;
    //     background-color: #fff;
    // }
}

.first-screen{
    // max-height: 855px;
    position: relative;
    // padding-top: 215px;
    // @include adaptive-value('padding-top', 215, 60, 3);
    padding-top:215px;
    // @include adaptive-value('height', 36, 20, 3);
    background-color: $blue;
    min-height: 850px;
    // @include adaptive-value('height', 850, 600, 3);
    background-position: left -5px top 66%, right 126px top 74%;
    background-position: left -5px top 66%, right calc(7%) top;
    background-repeat: no-repeat;

    &__body{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &::after{
        content:"";
        background: $blue;
        background: #2737A7;
        width: 100%;
        height: 70%;
        position: absolute;
        border: radius;
        border-radius: 203%/32%;
        top: calc(36% - 1px);
        z-index: -1;
    }

    &__text-block{     
        width: 46%;
    }

    &__img-block{  
        width: 54%;
    }

    &__img{
        position: absolute;
        bottom: -81px;
        margin-left: 13px;
        z-index: 2;
    }

    &__title{
        font-family: 'Montserrat', sans-serif;
        color:#fff;
        font-weight: normal;
        // font-size: 36px;//!!!!!!!!
        @include adaptive-value('font-size', 36, 20, 3);
        line-height: 139%;
        letter-spacing: 0.02em;
        
        .text_highligted-bold{
            background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0) 70%, $rose 70%, $rose 93%, rgba(0, 0, 0, 0) 93% rgba(0, 0, 0, 0) 100%);
        }
    }

    &__benefits{
        font-family: 'Montserrat', sans-serif;
        color:#fff
    }

    .btn{
        margin-left: -4px;

        .icon-arrow{
        }
    } 
}

.benefits-list{
    padding: 8px 112px 15px 30px;
    @include adaptive-value('padding-left', 8, 2, 3);
    list-style-image: url('../img/tick.svg');

    &__item{
        margin-bottom: 15px;
        padding-left: 15px;
        list-style-position: inside;
        font-family: 'Montserrat', sans-serif;
        // font-size: 17px;
        @include adaptive-value('font-size', 17, 12, 3);
        line-height: 153%;
        list-style-image: url('../img/tick.svg');

        &::marker{
            margin-right: 10px;
        }

        div{
            display: block;
            margin-left: 34px;
            margin-top: -25px;
        }
    }
}

.wrapper{
    width: 100%;
    background: linear-gradient(180deg, #FFFFFF 4.96%, rgba(255, 255, 255, 0) 92.32%), #EAF0FA;
    box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.1);
}

.exp{
    padding-top: 190px;
    

    &__body{
        border-bottom:1px solid #E8E8E8;
        padding-bottom: 45px;
    }

    &__desc{
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        // font-size: 18px;
        @include adaptive-value('font-size', 18, 12, 3);
        line-height: 178%;
        letter-spacing: 0.02em;
        color: #202020;
        padding-bottom: 52px;
        margin-top: -10px;
    }

    &-list{
        list-style-type: none;
        border-left:1px solid #E8E8E8;
        margin-left: 20px;
        margin-top: 45px;

        &__item{
            position: relative;
            display: flex;
            align-items: flex-start;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            // font-size: 22px;
            @include adaptive-value('font-size', 22, 12, 3);
            line-height: 164%;
            letter-spacing: 0.02em;
            color: #202020;
            margin-bottom: 79px;
            margin-left: 54px;
        }

        &__desc{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 115px;
        }

        // span{
        //     margin-bottom: 10px;
        // }

        &__icon{
            position: absolute;
            top:-10px;
            @include adaptive-value('width', 90, 35, 3);
        }
    }    
}

.desc-list{
    padding:0;
    margin:0;

    &__item{
        list-style-image: url('../img/tick.svg');
        margin-bottom: 10px;
        padding-left: 20px;
        list-style-position: inside;
    }
}

.profit{
    padding-top: 105px;
    padding-bottom: 83px;

    .section-title {
        margin-left: 25px;
    }

    &-cards{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        justify-content: space-between;
    }

    &-card{
        flex-basis:49%;
        flex-grow: 0;
        background: #FFFFFF;
        box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.05);
        border-radius: 30px;
        position: relative;
        padding-top: 53px;
        padding-left: 49px;
        padding-right: 40px;
        padding-bottom: 44px;
        margin-bottom: 67px;

        &:last-child{
            flex-basis: 100%;
        }

        &__icon{
            position: absolute;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: $blue;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateY(-50%);
            left:50px;
            top: 0;
        }

        &__text{
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 300;
            // font-size: 16px;
            @include adaptive-value('font-size', 16, 13, 3);
            line-height: 162%;
            letter-spacing: 0.02em;
            color: #202020;
            width: 98%;
        }

        &__number{
            position: absolute;
            right: 40px;
            bottom: -3px;
            opacity: 0.3;
        }

        &:nth-child(2n){
            .profit-card__icon{
                left: 31px;
            }
        }
    }
}

.questions{

    &__body{
        position: relative;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        background-color: $blue;
        background-image: url('../img/container-left.svg'), url('../img/container-right.svg');
        background-position: top 63px left 0%, top 0px right 0%;
        background-repeat: no-repeat;
        padding: 85px 34% 118px;


        &::before{
            content:"";
            padding-bottom: 35%;
            position: absolute;
        } 
    }

    &__text{
        margin-top: -20px;
        margin-bottom: 44px;
        font-family: 'Montserrat', sans-serif;
        // font-size: 24px;
        @include adaptive-value('font-size', 24, 15, 3);
        line-height: 125%;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }

    &__cont{
        position:absolute;
        bottom:-26px;

        &_left{
            left: -7px;
        }
        &_right{
            right: -25px;
        }
    }

}

.map{
    position:relative;
    z-index: 2;
    top: -43px;

    #map{
        height: 858px;
    }

}

.contacts-block{
    // position: absolute;
    // top: 270px;
    position: absolute;
    bottom: 374px;
    z-index: 10;
    left:calc((100vw - 1420px) / 2);
    // @include adaptive-value('left', 246, 50, 3);
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 364px;
    width: 340px;
    background: #FFFFFF;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 9px 50px 52px 44px;

    &__item{
        display: flex;
        justify-content: flex-start;
        width:100%; 
        padding-top: 24px;
        padding-bottom: 21px;
        border-bottom: 1px solid #E8E8E8;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        // font-size: 16px;
        @include adaptive-value('font-size', 16, 13, 3);
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #202020;

        &:last-of-type{
            border: none;
        }

        .icon-pin, .icon-phone, .icon-mail{
            color:$rose;
            font-size: inherit;
        }

        .icon-mail{
            font-size:12px;
        }
    }

    &__value{
        margin-left: 8px;
    }

    &__btn{
        // font-size: 14px;
        @include adaptive-value('font-size', 14, 10, 3);
        line-height: 143%;
        padding: 12px 57px;
        margin-top: 14px;
    }
}

.footer{
    background-color: #fff;
    margin-top: -50px;
    &__body{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 57px 0;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        // font-size: 14px;
        @include adaptive-value('font-size', 14, 10, 3);
        line-height: 129%;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #202020;
    }

    &__left-block{
        flex-basis:50%;
        flex-grow: 2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__text{
        margin-left: 80px;
    }

    &__dev{
        display: flex;
        align-items: center;

        img{
            margin-left: 8px;
        }
    }
}

.modal{
    // position: fixed;
    // display: none;
    // width: 460px;
    position: relative;
    @include adaptive-value('width', 460, 310, 3);
    height: auto;
    margin:0 auto;
    background: #FFFFFF;
    border-radius: 30px;
    // padding: 61px 66px 59px;
    @include adaptive-value('padding-top', 61, 30, 3);
    @include adaptive-value('padding-bottom', 59, 30, 3);
    @include adaptive-value('padding-left', 66, 20, 3);
    @include adaptive-value('padding-right', 66, 20, 3);
    // top:50px;
    // left:50%;
    // transform: translateX(-50%);
    // z-index:51;
    // padding-bottom: 59px;

    &-success{
        background-color: #2BAD4C;
        padding-bottom: 48px;

        &__inner{
            display: flex;
            flex-direction: column;
            align-items: stretch;
            width: 100%;
        }  

        .modal-title, .modal-subtitle{
            color:#fff;
        }

        img{
            margin-top: 93px;
            margin-bottom: 25px;
            align-self: center;
        }
    }

    &__cross{
        position: absolute;
        z-index: 60;
        @include adaptive-value('width', 22, 15, 3);
        @include adaptive-value('height', 22, 15, 3);
        @include adaptive-value('top', 30, 15, 3);
        @include adaptive-value('right', 30, 15, 3);
        // top:30px;
        // right:30px;
        img{
            width: 100%;
            height: 100%;
        }
    }

    &-title{
        margin:unset;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: bold;
        // font-size: 36px;
        @include adaptive-value('font-size', 36, 20, 3);
        line-height: 122%;
        text-align: center;
        letter-spacing: 0.02em;
        color: #202020;
        // margin-bottom: 11px;
        @include adaptive-value('margin-bottom', 11, 2, 3);
    }

    &-subtitle{
        font-family: 'Montserrat', sans-serif;
        // font-size: 24px;
        @include adaptive-value('font-size', 24, 15, 3);
        line-height: 121%;
        text-align: center;
        letter-spacing: 0.02em;
        color: #202020;
        // margin-bottom: 24px;
        @include adaptive-value('margin-bottom', 24, 15, 3);
    }

    &__text{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 300;
        // font-size: 12px;
        @include adaptive-value('font-size', 12, 10, 3);
        line-height: 150%;
        text-align: center;
        color: #6B6B6B;
    }

    // &_open{
    //     display: block;
    //     position:fixed;
    //     top:50px;
    //     left:50%;
    //     transform: translateX(-50%);
    //     z-index:50;

        // &::before{
        //     content: "";
        //     position:fixed;
        //     top:0;
        //     left:0;
        //     right:0;
        //     bottom: 0;
        //     // width: 100vw;
        //     // height: 100vh;
        //     background-color: rgba(0, 0, 0, 0.5);
        //     z-index:49;
        // }
    // }
}

.request-form{
    margin-bottom: 34px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    &__input_text, &__textarea{
        outline: none;
        background: #F8F8F8;
        border: 1px solid #E8E8E8;
        box-sizing: border-box;
        border-radius: 50px;
        padding: 19px 35px;
        margin-bottom: 21px;
        transition: all 0.5s;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        // font-size: 18px;
        @include adaptive-value('font-size', 18, 12, 3);
        line-height: 122%;
        letter-spacing: 0.02em;
        color: #202020;
        resize:none;

        &:last-of-type{
            margin-bottom: 30px;
        }

        &:hover{
            background: #FFFFFF;
            border: 1px solid #E8E8E8;
        }

        &:focus, &:active{
            color: #202020;
            background: #FFFFFF;
            border: 1px solid #E8E8E8;
        }

        
    }

    &__btn{

    }
}

::placeholder{
    font-family: 'Montserrat', sans-serif;
    // font-size: 18px;
    @include adaptive-value('font-size', 18, 12, 3);
    line-height: 122%;
    letter-spacing: 0.02em;
    color: #AFAFAF;
}

.error{
    border: 1px solid #FFE0E2;
    background-color: #fff;
    color: #FF2535;

    &::placeholder{
        color: #FF2535;
    }
}
